{{! templates/profile/about }}

{{#if data.about}}
  <div id="about" class="span5">
    <h3>About</h3>
    {{#each data.about}}
      {{#each this.about}}
        <p>{{this}}</p>
      {{/each}}
    {{/each}}
  </div>
{{/if}}


{{#if data.performance}}
<div id="performances" class="span5">
  <h3>Performances and Exhibitions</h3>
  <ul class="unstyled">
  {{#each data.performance}}
    <li class="perf-detail clearfix">
        <span class="perf-title pull-left">{{this.title}}</span>
        <span class="perf-data pull-right"> {{formatMonthYear this.date "MM-YYYY"}} </span>
      <br />
      <div class="perf-desc hide">
        {{formatContent this.description}}
      </div>
    </li>
  {{/each}}
  </ul>
</div>
{{/if}}

