{{! templates/home/featured }}

<div id="featured" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    {{#each data.slider}}
    <div class="item">
      <a href="{{../data.hostname}}#{{this.resource}}/{{this.id}}">
        <img src="{{this.url}}">
      </a>
    </div>
    {{/each}}
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#featured" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#featured" data-slide="next">&rsaquo;</a>
</div>



<!--<p>
  Hello my name is Michael Seidl, I'm a Art Director from Munich. Based on graphic and video design.
  Maybe you know me under my name acapulco, which i use for my paintings and videoart.
  On this site i want to introduce you some selected works. Have fun.
</p>-->
